[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
charset-normalizer = "*"
click = "*"
requests = "*"
tabulate = "*"
urllib3 = "*"
idna = "*"
requests-cache = "*"

[dev-packages]

[requires]
python_version = "3.13"
